Keras==2.2.0
matplotlib==2.2.2
MedPy==0.3.0
nibabel==2.3.0
numpy==1.14.5
h5py==2.7.1
scipy==1.1.0
scikit_learn==0.19.1
opencv-python==3.4.1.15
protobuf==3.5.1
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==2.7.2
tensorflow-tensorboard==1.5.0
